
<div id="sidebar_right" class="">
	<partial name="@ManageLayoutComponents.CustomerMiddleNav" />
	<ul>
		<li>
			<a asp-page="@(ViewPathManager.BookingIndex)">
				My Cart
			</a>
		</li>





	</ul>



</div>