
<div class="header_area">
	<partial name="@(ManageLayoutComponents.HeaderBackground)" />
	@* Header Section *@
	<header class="header_section">
		<div class="container">
			@* Navbar *@
			<nav class="navbar navbar-expand-lg custom_nav-container row">
				<div>
					@* Brand & Home *@
					<a class="navbar-brand" asp-controller="Home" asp-action="Index">
						<span>
							Online Caterer
						</span>
					</a>
					@* End Brand & Home *@
					@* gear setting *@
				</div>
			</nav>
			@* End Navbar *@
		</div>
	</header>
	@* End Header Section *@

</div>
