@page "/menu/{categoryId:int?}/"
@using OnlineCaterer.Web.Views.Shared;
@using OnlineCaterer.Web.Views.Shared.Components.FoodBox;
@using OnlineCaterer.Web.Views.Shared.Components.Pagination;
@using OnlineCaterer.Web.Views.Shared.Layout.Components.Header;
@inject IRepository<FoodType> FoodTypeRepository
@model FoodIndexModel

@{
	ViewData["Title"] = NavItemManager.FoodMenuPage.PageTitle;
}

@{
	var foods = Model.Foods;
}

<div class="food_page">
	<div class="food_page-sidebar">
		@await Component.InvokeAsync("FoodTypeList", FoodTypeRepository)
	</div>
	<div class="food_page-food_list">
		@if (!foods.Items.Any())
		{
			<div class="food_list-con_content">
				<span>
					No Content
				</span>
			</div>
		}
		else
		{
			@foreach (var food in foods.Items)
			{
				<div class="col-lg-4 col-md-6 col-sm-12">
					@await Component.InvokeAsync(
						"FoodBox",
						new FoodBox.DataHolder
						{
							Food = food,
							ReturnUrl = Request.Path
						}
					)
				</div>
			}
		}

		@{
			var paginationModel = new PaginationModel(Url)
			{
				PageName = NavItemManager.FoodMenuPage.AspPage,
				CurrentPage = Model.CurrentPage ?? 1,
				TotalPages = foods.TotalPages,
			};
		}
		@(await Component.InvokeAsync<Pagination>(paginationModel))
	</div>
</div>
