@page "/menu/{categoryId:int?}/"
@using OnlineCaterer.Web.Views.Shared;
@using OnlineCaterer.Web.Views.Shared.Components.FoodBox;
@using OnlineCaterer.Web.Views.Shared.Components.Pagination;
@using OnlineCaterer.Web.Views.Shared.Layout.Components.Header;
@inject IRepository<FoodType> FoodTypeRepository
@model FoodIndexModel

@{
	ViewData["Title"] = NavItemManager.FoodMenuPage.PageTitle;
}

@{
	var foods = Model.Foods;
}

<div class="food_page row">
	<div class="col-4">
		@await Component.InvokeAsync("FoodTypeList", FoodTypeRepository)
	</div>

	<div class="col-8">
		@if (!foods.Items.Any())
		{
			<div>
				<span>
					No Content
				</span>
			</div>
		}
		else
		{
			@foreach (var food in foods.Items)
			{
				@await Component.InvokeAsync(
					"FoodBox",
					new FoodBox.DataHolder
					{
						Food = food,
						ReturnUrl = Request.Path
					}
				)
			}
		}
		@{
			var paginationModel = new PaginationModel(Url)
			{
				PageName = NavItemManager.FoodMenuPage.AspPage,
				CurrentPage = Model.CurrentPage ?? 1,
				TotalPages = foods.TotalPages,
			};
		}
		@(await Component.InvokeAsync<Pagination>(paginationModel))
	</div>
</div>
