@page "/about/"
@using OnlineCaterer.Application.Initialization;
@using OnlineCaterer.Web.Views.Shared.Layout.Components.Header;
@inject CompanyInfo CompanyInfo
@{
	ViewData["Title"] = NavItemManager.AboutPage.PageTitle;
}

<h1>@(NavItemManager.AboutPage.PageTitle)</h1>

@CompanyInfo.Brand