@page "/"
@using OnlineCaterer.Web.Views.Shared.Layout.Components.Header;
@model OnlineCaterer.Web.Views.Home.IndexModel
@{
    ViewBag.Title = NavItemManager.HomePage.PageTitle;
}

<div class="container">
    show list food & food type


    show list caterer


    show place


</div>
