@import url(../common.css);

:root {
    --header-background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 60%, rgba(0, 0, 0, 0.6));
    --nav_button-size: 42px;
    --nav_button-border-width: 3px;
    --nav_button-padding: 2px;
}

.hero_area {
    min-height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
}

.sub_page
.hero_area {
    min-height: auto;
}

    .sub_page
    .hero_area
    .header_background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

        .sub_page
        .hero_area
        .header_background
        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            -o-object-position: right top;
               object-position: right top;
        }

.header_background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

    .header_background
    img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }

.header_section {
    padding: 15px 0;
    background: var(--header-background);
}

    .header_section
    .nav_content {
        width: 100%;
        height: 100%;
        position: relative;
        display: inline-flex;
        align-items: center;
    }

        .header_section
        .nav_content
        .nav_side-content {
            width: 20%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
        }

        .header_section
        .nav_content
        .nav_button {
            width: var(--nav_button-size);
            height: var(--nav_button-size);
            position: fixed;
            right: 1rem;
            background: none;
            border: var(--nav_button-border-width) solid var(--highlight-color);
            border-radius: 5px;
            transition: all 0.3s;
            z-index: 10;
        }

            .header_section
            .nav_content
            .nav_button:focus {
                outline: none;
                box-shadow: 0 0 0 0;
            }

            .header_section
            .nav_content
            .nav_button
            span {
                display: block;
                width: calc(var(--nav_button-size) - (var(--nav_button-border-width) + var(--nav_button-padding)) * 2);
                height: 4px;
                margin: 0 auto;
                background-color: var(--highlight-color);
                border-radius: 5px;
                transition: all 0.3s;
            }

                .header_section
                .nav_content
                .nav_button
                span::before,
                .header_section
                .nav_content
                .nav_button
                span::after {
                    content: '';
                    display: block;
                    width: calc(var(--nav_button-size) - (var(--nav_button-border-width) + var(--nav_button-padding)) * 2);
                    height: 4px;
                    margin: 0 auto;
                    background-color: var(--highlight-color);
                    border-radius: 5px;
                    position: absolute;
                    -webkit-transition: all 0.3s;
                            transition: all 0.3s;
                }

                .header_section
                .nav_content
                .nav_button
                span::before {
                    top: 7px;
                }

                .header_section
                .nav_content
                .nav_button
                span::after {
                    bottom: 7px;
                }

            .header_section
            .nav_content
            .nav_button.active {
                -webkit-transform: rotate(360deg);
                        transform: rotate(360deg);
            }

                .header_section
                .nav_content
                .nav_button.active
                span {
                    -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                }

                    .header_section
                    .nav_content
                    .nav_button.active
                    span::before,
                    .header_section
                    .nav_content
                    .nav_button.active
                    span::after {
                        top: 0;
                        -webkit-transform: rotate(90deg);
                                transform: rotate(90deg);
                    }

        .header_section
        .nav_content
        #nav_middle-root {
            width: 60%;
            height: 100%;
        }

.navbar-brand {
    font-family: 'Dancing Script', cursive;
}

    .navbar-brand
    span {
        font-weight: bold;
        font-size: 32px;
        color: #ffffff;
    }

#nav_middle-content {
    width: 100%;
    height: 100%;
}

    #nav_middle-content
    ul {
        width: fit-content;
        height: fit-content;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        list-style: none;
        color: #fff;
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

        #nav_middle-content
        ul
        li.nav-item
        .nav-link {
            padding: 5px 20px;
            color: #ffffff;
            text-align: center;
            text-transform: uppercase;
            border-radius: 5px;
            -webkit-transition: all 0.3s;
                    transition: all 0.3s;
        }

        #nav_middle-content
        ul
        li.nav-item:hover
        .nav-link,
        #nav_middle-content
        ul
        li.nav-item.active
        .nav-link {
            color: var(--highlight-color);
        }

.book_now_btn {
    width: fit-content;
    height: 100%;
    padding: 10px;
    background-color: var(--highlight-color);
    border-radius: 10px;
}

    .book_now_btn:hover {
        background-color: var(--highlight-color-second);
    }

    .book_now_btn a {
        color: #fff;
        text-decoration: none;
    }

.header_section
.nav_content
.nav_side-content.left {
    width: 35%;
    display: flex;
}

.nav_side-content #search_form form {
    display: flex;
    position: relative;
    right: 10px;
}

    .nav_side-content #search_form form
    .search_input {
        height: 35px;
        border-right: none;
        border: 2px solid var(--highlight-color);
        border-right: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

        .nav_side-content #search_form form
        .search_input:focus {
            outline: none;
        }

    .nav_side-content #search_form form
    .nav_search-btn {
        height: 35.25px;
        width: 36px;
        border: 2px solid var(--highlight-color);
        border-left: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #fff;
        position: relative;
        right: 5px;
    }

        .nav_side-content #search_form form
        .nav_search-btn
        svg {
            width: 20px;
            height: 20px;
            fill: var(--highlight-color-second);
            position: relative;
            top: -2px;
        }
