/* _Layout.cshtml */
/* header root */
.header_area {
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* header index background */
.header_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

    .header_background
    img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }

.sub_page
.header_area {
    min-height: auto;
}

    .sub_page
    .header_area
    .header_background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

        .sub_page
        .header_area
        .header_background
        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            -o-object-position: right top;
               object-position: right top;
        }

/* _HeaderPartial.cshtml */
/* root */
.header_section {
    padding: 15px 0;
}

    .header_section
    .container-fluid {
        padding-right: 25px;
        padding-left: 25px;
    }

/* navbar container */
.custom_nav-container {
    padding: 0;
}

/* brand */
.navbar-brand {
    font-family: 'Dancing Script', cursive;
}

    .navbar-brand
    span {
        font-weight: bold;
        font-size: 32px;
        color: #ffffff;
    }

/* collapse button */
.custom_nav-container
.navbar-left_content {
    display: flex;
    align-items: center;
}

    .custom_nav-container
    .navbar-left_content
    .navbar-toggler:focus {
        outline: none;
        box-shadow: 0 0 0 0;
    }

    .custom_nav-container
    .navbar-left_content
    .navbar-toggler {
        position: absolute;
        right: 0;
        margin-right: 1rem;
        padding: 0;
        width: 37px;
        height: 42px;
        transition: all 0.3s;
    }

        .custom_nav-container
        .navbar-left_content
        .navbar-toggler
        span {
            display: block;
            width: 35px;
            height: 4px;
            background-color: #ffffff;
            margin: 7px 0;
            position: relative;
            border-radius: 5px;
            transition: all 0.3s;
        }

            .custom_nav-container
            .navbar-left_content
            .navbar-toggler
            span::before,
            .custom_nav-container
            .navbar-left_content
            .navbar-toggler
            span::after {
                content: "";
                position: absolute;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: #ffffff;
                top: -10px;
                border-radius: 5px;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
            }

            .custom_nav-container
            .navbar-left_content
            .navbar-toggler
            span::after {
                top: 10px;
            }

        .custom_nav-container
        .navbar-left_content
        .navbar-toggler[aria-expanded="true"] {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }

            .custom_nav-container
            .navbar-left_content
            .navbar-toggler[aria-expanded="true"]
            span {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }

                .custom_nav-container
                .navbar-left_content
                .navbar-toggler[aria-expanded="true"]
                span::before,
                .custom_nav-container
                .navbar-left_content
                .navbar-toggler[aria-expanded="true"]
                span::after {
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                    top: 0;
                }

/* nav-item & nav-link */
.custom_nav-container
.navbar-nav {
    padding-left: 10%;
}

    .custom_nav-container
    .navbar-nav
    .nav-item
    .nav-link {
        padding: 5px 20px;
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        border-radius: 5px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .custom_nav-container
    .navbar-nav
    .nav-item:hover
    .nav-link,
    .custom_nav-container
    .navbar-nav
    .nav-item.active
    .nav-link {
        color: #ffbe33;
    }

/* user options style */
.custom_nav-container
.nav-user_options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    .custom_nav-container
    .nav-user_options
    .row {
        align-items: center;
    }

/* nav user option icon */
.custom_nav-container
.user_option-icon {
    width: 17px;
    border: none;
    padding: 0;
    margin: 0 10px;
    pointer-events: auto;
}

    .custom_nav-container
    .user_option-icon
    svg {
        width: 17px;
        height: 17px;
        fill: #fff;
    }

.custom_nav-container
#user_options.user_option-icon
svg,
.custom_nav-container
#search_option.user_option-icon
svg {
    position: relative;
    top: 21px;
}

.custom_nav-container
.user_option-icon:hover
svg {
    fill: #ffbe33;
}

/* booking button */
.nav-user_options
.booking-btn {
    height: 40px;
    text-align: center;
    display: inline-block;
    background-color: #ffbe33;
    border-radius: 45px;
    transition: all 0.3s;
    border: none;
    color: #fff;
    text-decoration: none;
    position: relative;
    right: 0;
}

    .nav-user_options
    .booking-btn
    span {
        width: fit-content;
        height: fit-content;
        font-size: 20px;
        position: relative;
        top: 10%;
    }

    .nav-user_options
    .booking-btn:hover {
        background-color: #e69c00;
    }

/* selected option content */
.nav-user_options
.selected_option-content {
    display: none;
}

    .nav-user_options
    .selected_option-content.show {
        display: block;
        position: absolute;
        top: 100%;
        background-color: #ffbe33;
        width: fit-content;
        min-width: 150px;
        height: fit-content;
        border-radius: 10px;
        padding: 15px 25px;
        cursor: pointer;
        z-index: 10;
    }

.nav-user_options
.selected_option-arrow {
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
}

    .nav-user_options
    .selected_option-arrow.active {
        background-color: #ffbe33;
        position: relative;
        top: 35px;
        left: 8.2px;
    }

/* option item */
#user_option-list
.user_option-item {
    display: block;
    text-align: center;
}

    #user_option-list
    .user_option-item
    a {
        width: 80px;
        color: #fff;
        text-decoration: none;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

        #user_option-list
        .user_option-item
        a
        svg {
            width: 20px;
            height: 20px;
            fill: #fff;
            margin: 0 5px;
        }

    #user_option-list
    .user_option-item:hover
    a {
        background-color: #fff;
        color: #e69c00;
        border-radius: 10px;
    }

        #user_option-list
        .user_option-item:hover
        a
        svg {
            fill: #e69c00;
        }

        #user_option-list
        .user_option-item:hover
        a::before {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            position: absolute;
            border-top: 4px solid #fff;
            border-right: 4px solid #fff;
            transform: rotate(45deg);
            top: 5px;
            left: -21px;
        }


        #user_option-list
        .user_option-item:hover
        a::after {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            position: absolute;
            border-top: 4px solid #fff;
            border-right: 4px solid #FFF;
            transform: rotate(225deg);
            top: 5px;
            right: -21px;
        }

/* search form */
#search_form
.selected_option-content.show {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 25px 35px rgba(0,0,0,0.1);
}

.selected_option-content.show
.search_input {
    height: 35px;
    border-right: none;
    border-top: 2px solid #e69c00;
    border-bottom: 2px solid #e69c00;
    border-left: 2px solid #e69c00;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

    .selected_option-content.show
    .search_input:focus {
        outline: none;
    }

.selected_option-content.show
.nav_search-btn {
    height: 34.5px;
    width: 36px;
    position: relative;
    background-color: #fff;
    border-left: none;
    border-top: 2px solid #e69c00;
    border-bottom: 2px solid #e69c00;
    border-right: 2px solid #e69c00;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    right: 5px;
    top: -0.5px;
}

    .selected_option-content.show
    .nav_search-btn
    svg {
        fill: #e69c00;
        width: 20px;
        height: 20px;
        position: relative;
        top: -2px;
    }

.selected_option-content.show
.form-link {
    text-decoration: none;
    font-size: 14px;
    color: rgb(255,240,255);
}

    .selected_option-content.show
    .form-link:hover {
        color: #e69c00;
        font-size: 16px;
        background-color: #fff;
        border-radius: 10px;
        padding: 0 10px;
    }
