@page "/list/"
@model OnlineCaterer.Web.Views.Home.SearchPageModel
@{
}

<div>Ô chọn khu vực</div>

<div>Ô điền tên Caterer</div>

<div>Ô điền tên món ăn</div>

<div>Các ô loại thức ăn</div>

<div>Danh sách món ăn</div>

<div>Danh sách Caterer</div>