@page "/booking/new/"
@using OnlineCaterer.Application.Common.Interfaces.Data;

@inject IRepository<OnlineCaterer.Domain.Entities.Place> PlaceRepository
@inject IHttpContextAccessor HttpContextAccessor

@model OnlineCaterer.Web.Views.Auth.Booking.CreateBookingModel

@{
	List<int> listSelectedFoodId = new();

	//HttpContext.Session.Set("", listSelectedFoodId.)
}

@HttpContextAccessor.HttpContext.Session.Id

@foreach (var item in listSelectedFoodId)
{
	@item
}

<h1>Booking Create</h1>

@{
	OnlineCaterer.Web.Views.Place.IndexModel PlaceIndexModel = new(PlaceRepository);
}

<partial name="Place/PlaceIndex" model="PlaceIndexModel"/>
@*
@Request.Cookies.TryGetValue(".AspNetCore.Antiforgery.1GXYU-x-A9k", out string? value)
@value
*@
@Request.Cookies.Append(new KeyValuePair<string, string>("Hello", "World"))
@Request.Cookies. ("Hello", out string? value)
