@import url(../common.css);

.food_page {
    width: 100%;
    position: relative;
}

    .food_page
    .food_page-sidebar {
        width: 20%;
        display: flex;
        position: fixed;
    }

    .food_page
    .food_page-food_list {
        width: 80%;
        min-height: 50vh;
        margin-left: 20%;
        display: flex;
        position: relative;
    }

        .food_page
        .food_page-food_list
        #pagination-box {
            position: absolute;
            bottom: 0;
        }


