@import url(../common.css);

.checkbox-container {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

    .checkbox-container
    input[type=checkbox] {
        width: 0;
        height: 0;
        opacity: 0;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
    }

    .checkbox-container
    .checkbox-face {
        border: 3px solid var(--highlight-color);
        border-radius: 50%;
        background-color: var(--main-color);
        padding: 10px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .checkbox-container
        .checkbox-face
        svg {
            fill: #fff;
            animation: tiktak 1.5s linear infinite;
        }

    .checkbox-container:hover
    input[type=checkbox] ~ .checkbox-face
    svg {
        fill: var(--highlight-color-second);
    }

    .checkbox-container
    input[type=checkbox]:checked ~ .checkbox-face
    svg {
        opacity: 0;
    }

    .checkbox-container
    input[type=checkbox]:checked ~ .checkbox-face::after {
        content: '';
        display: block;
        width: 10px;
        height: 20px;
        border: solid var(--highlight-color-second);
        border-width: 0 3px 3px 0;
        position: absolute;
        top: 4.75px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    @keyframes tiktak {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(-15deg);
        }
        50% {
            transform: rotate(15deg);
        }
        75% {
            transform: rotate(-15deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
