
.user_box {
    color: #fff;
    text-align: center;
}

.user_box:hover {
    color: #ffbe33;
}

#user_icon {
    width: 17px;
    position: relative;
    top: 32px;
}

.options_box {
    background-color: #fff;
    width: 0px;
    height: 0;
    color: #000;
    text-align: center;
    position: relative;
    top: 58px;
}

