@using Microsoft.AspNetCore.Identity;
@using OnlineCaterer.Data.Identity;
@using OnlineCaterer.Domain.Constants;

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">

<head>
    @* Basic *@
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    @* Mobile Metas *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    @* Site Metas *@
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/images/favicon.png" type="">

    <title>@ViewData["Title"] - Online Caterer</title>

    @* bootstrap core css *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @* owl slider stylesheet *@
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    @* nice select *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
          integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
          crossorigin="anonymous" />

    @* font awesome style *@
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    @* Custom styles for this template *@
    @*<link href="~/css/style.css" rel="stylesheet" />*@

    @* responsive style *@
    <link href="~/css/responsive.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />*@
    
    <link rel="stylesheet" href="~/css/support-bootstrap.css" />

    @* Layout Style *@
    <link rel="stylesheet" href="~/css/layout/layout-style.css" />

    @* Header Style *@
    <link rel="stylesheet" href="~/css/layout/header-style.css" />

    @* Slider Style*@
    <link rel="stylesheet" href="~/css/layout/slider-style.css" />

    @* Style *@

</head>

<body class="@(!"Home Page".Equals(ViewData["Title"]) ? "sub_page" : string.Empty)" >
    
    @* Header *@ 
    <div class="header_area">
        @* Header Background *@
        <div class="header_background">
            <img src="~/images/hero-bg.jpg" alt="">
        </div>
        @* End Header Background *@

        <partial name="Header/_HeaderPartial" />

        @if ("Home Page".Equals(ViewData["Title"]))
        {
            <partial name="Header/_SliderPartial" />
        }
    </div>
    @* Header *@

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Online Caterer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @* jQuery *@
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/vender/jquery-3.7.0/jquery-3.7.0.min.js"></script>

    @* popper js *@
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous">
    </script>

    @* bootstrap js *@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/vender/bootstrap-5.3.1-dist/js/bootstrap.min.js"></script>

    @* owl slider *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    @* isotope js *@
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>

    @* nice select *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>

    @* custom js *@
    <script src="~/js/custom.js"></script>

    <script src="~/js/header.js"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
