
<div id="navbar-left" class="col-lg-3">
	@* Brand & Home *@
	<a class="navbar-brand" asp-controller="Home" asp-action="Index">
		<span>
			Online Caterer
		</span>
	</a>
	@* End Brand & Home *@

	@* Collapse Button *@
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#NavbarContent" aria-controls="NavbarContent"
			aria-expanded="false" aria-label="Toggle navigation">
		<span class=""> </span>
	</button>
	@* End Collapse Button *@
</div>
